body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(15deg, rgb(152, 58, 224), rgb(84, 143, 221));
}

.verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 35%;
  height: 90vh;
}

.verify-email {
  margin-top: 30px;
}

.verify-email h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 530;
  font-size: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  background-color: rgb(223, 190, 248);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 25%;
}

.instruction {
  margin-top: 8px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.input {
  margin-top: 70px;
  justify-content: center;
  align-items: center;
}

.input input {
  width: 25%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid rgba(159, 154, 154, 0.739);
  border-radius: 5px;
  /* font-family: 'Times New Roman', Times, serif; */
  margin-bottom: 6px;
  background-color: rgb(223, 190, 248);
  margin-right: 15px;
}

input#number {
  width: 20px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid rgb(152, 58, 224);
  border-radius: 5px;
  font-size: 30px;
}

input#number::-webkit-inner-spin-button,
input#number::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.anchor a {
  text-decoration: none;
  margin-top: -100px;
}
.anchor p {
  text-decoration: none;
  margin-top: 80px;
  font-size: 17px;
}

.final {
  margin-right: 200px;
  margin-top: 50px;
}

.final button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(152, 58, 224);
  border: none;
  border-radius: 15px;
  width: 350%;
  color: white;
  text-decoration: none;
}

.final a {
  text-decoration: none;
  color: white;
}
